:root {
    --background: #f5f5f5;
    --background-alt: #efefef;
    --background-element: #e2e2e2;
    --background-element-hover: #c2c2c2;
    --background-element-disabled: #888888;
    --color: #000;
    --accent: #cb1314;
    --color2: var(--accent);
    --color2-transparent: #cb131370;
    --url: #00308a;
    --url-hover: #0056b3;
    --note: #555;
}

.browser-light {
    display: block !important;
}

.browser-dark {
    display: none !important;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #181818;
        --background-alt: #282828;
        --background-element: #404040;
        --background-element-hover: #303030;
        --background-element-disabled: #757575;
        --color: #fff;
        --color2: #fff;
        --color2-transparent: #ffffff70;
        --url: #679ef1;
        --url-hover: #8cb4f8;
        --note: #aaa;
    }
    .browser-light {
        display: none !important;
    }

    .browser-dark {
        display: block !important;
    }
}